/* header */

.nav .logo {
    border: 4px solid white;
    border-radius: 50px;
    width: 100px;
    height: 80px;
}

.card-text .nav-link {
    color: white;
    font-weight: 600;
}

.card-text .nav h3 {
    font-size: 35px;
}



